<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Empleados_Binding" />
                <binding name="EntregaAlmacen_Binding" />
                <binding name="AlmacenRepuestos_Binding" />
                <binding name="NuevaListaProductos_Binding" />
                <binding name="DatosEntreEmpresas_Binding" />
                <binding name="Pedidos_Binding" />
                <binding name="OfertaListado_Binding" />
                <binding name="AlmacenesClientes_Binding" />
                <binding name="Clientes_Binding" />
                <binding name="CodigoPostales_Binding" />
                <binding name="Contactos_Binding" />
                <binding name="DireccionesEnvio_Binding" />
                <binding name="PedidoListado_Binding" />
                <binding name="Avisos_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.2:7047/DynamicsNAV/WS/T.R.H./Page/NuevaListaProductos"
                binding="basicHttpBinding" bindingConfiguration="NuevaListaProductos_Binding"
                contract="ItemContext.NuevaListaProductos_Port" name="NuevaListaProductos_Port" />
            <endpoint address="http://intranet.trh-be.com:7047/DynamicsNAV/WS/TRH%20Liege/Codeunit/DatosEntreEmpresas"
                binding="basicHttpBinding" bindingConfiguration="DatosEntreEmpresas_Binding"
                contract="DatosEntreEmpresasContext.DatosEntreEmpresas_Port"
                name="DatosEntreEmpresas_Port" />
            <endpoint address="http://intranet.trh-be.com:7047/DynamicsNAV/WS/TRH%20Liege/Page/Empleados"
                binding="basicHttpBinding" bindingConfiguration="Empleados_Binding"
                contract="EmpleadoContext.Empleados_Port" name="Empleados_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/WS/TRH%20Liege/Page/EntregaAlmacen"
                binding="basicHttpBinding" bindingConfiguration="EntregaAlmacen_Binding"
                contract="EntregaAlmacenEpisContext.EntregaAlmacen_Port" name="EntregaAlmacen_Port" />
            <endpoint address="http://192.168.1.2:7047/DynamicsNAV/WS/T.R.H./Codeunit/AlmacenRepuestos"
                binding="basicHttpBinding" bindingConfiguration="AlmacenRepuestos_Binding"
                contract="AlmacenRepuestosContext.AlmacenRepuestos_Port" name="AlmacenRepuestos_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/Pedidos"
                binding="basicHttpBinding" bindingConfiguration="Pedidos_Binding"
                contract="PedidoVentasContext.Pedidos_Port" name="Pedidos_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/OfertaListado"
                binding="basicHttpBinding" bindingConfiguration="OfertaListado_Binding"
                contract="OfertaListadoContext.OfertaListado_Port" name="OfertaListado_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/AlmacenesClientes"
                binding="basicHttpBinding" bindingConfiguration="AlmacenesClientes_Binding"
                contract="AlmacenesClientesContext.AlmacenesClientes_Port"
                name="AlmacenesClientes_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/Clientes"
                binding="basicHttpBinding" bindingConfiguration="Clientes_Binding"
                contract="ClientesContext.Clientes_Port" name="Clientes_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/CodigoPostales"
                binding="basicHttpBinding" bindingConfiguration="CodigoPostales_Binding"
                contract="CodigoPostalesContext.CodigoPostales_Port" name="CodigoPostales_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/Contactos"
                binding="basicHttpBinding" bindingConfiguration="Contactos_Binding"
                contract="ContactosContext.Contactos_Port" name="Contactos_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/DireccionesEnvio"
                binding="basicHttpBinding" bindingConfiguration="DireccionesEnvio_Binding"
                contract="DireccionesEnvioContext.DireccionesEnvio_Port" name="DireccionesEnvio_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/PedidoListado"
                binding="basicHttpBinding" bindingConfiguration="PedidoListado_Binding"
                contract="PedidoListadoContext.PedidoListado_Port" name="PedidoListado_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/WS/T.R.H./Codeunit/Avisos"
                binding="basicHttpBinding" bindingConfiguration="Avisos_Binding"
                contract="FuncionesVentasContext.Avisos_Port" name="Avisos_Port" />
        </client>
    </system.serviceModel>
</configuration>