<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Empleados_Binding" />
                <binding name="EntregaAlmacen_Binding" />
                <binding name="AlmacenRepuestos_Binding" />
                <binding name="NuevaListaProductos_Binding" />
                <binding name="DatosEntreEmpresas_Binding" />
                <binding name="Pedidos_Binding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.2:7047/DynamicsNAV/WS/T.R.H./Page/NuevaListaProductos"
                binding="basicHttpBinding" bindingConfiguration="NuevaListaProductos_Binding"
                contract="ItemContext.NuevaListaProductos_Port" name="NuevaListaProductos_Port" />
            <endpoint address="http://intranet.trh-be.com:7047/DynamicsNAV/WS/TRH%20Liege/Codeunit/DatosEntreEmpresas"
                binding="basicHttpBinding" bindingConfiguration="DatosEntreEmpresas_Binding"
                contract="DatosEntreEmpresasContext.DatosEntreEmpresas_Port"
                name="DatosEntreEmpresas_Port" />
            <endpoint address="http://intranet.trh-be.com:7047/DynamicsNAV/WS/TRH%20Liege/Page/Empleados"
                binding="basicHttpBinding" bindingConfiguration="Empleados_Binding"
                contract="EmpleadoContext.Empleados_Port" name="Empleados_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/WS/TRH%20Liege/Page/EntregaAlmacen"
                binding="basicHttpBinding" bindingConfiguration="EntregaAlmacen_Binding"
                contract="EntregaAlmacenEpisContext.EntregaAlmacen_Port" name="EntregaAlmacen_Port" />
            <endpoint address="http://192.168.1.2:7047/DynamicsNAV/WS/T.R.H./Codeunit/AlmacenRepuestos"
                binding="basicHttpBinding" bindingConfiguration="AlmacenRepuestos_Binding"
                contract="AlmacenRepuestosContext.AlmacenRepuestos_Port" name="AlmacenRepuestos_Port" />
            <endpoint address="http://intranet.trh-es.com:7047/DynamicsNAV/ws/T.R.H./Page/Pedidos"
                binding="basicHttpBinding" bindingConfiguration="Pedidos_Binding"
                contract="PedidoVentasContext.Pedidos_Port" name="Pedidos_Port" />
        </client>
    </system.serviceModel>
</configuration>