<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="monoandroid51" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid50" />
  <package id="MonoDroid.Toolkit" version="1.1.0.0" targetFramework="monoandroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid70" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="monoandroid60" />
  <package id="Refractored.FloatingActionButton" version="1.4.0" targetFramework="monoandroid60" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.UI" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Core.Utils" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Fragment" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Media.Compat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v4" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="24.2.1" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Common" version="32.961.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Database" version="32.961.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Firebase.Database.Connection" version="32.961.0" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Basement" version="32.961.0" targetFramework="monoandroid70" />
  <package id="Xamarin.GooglePlayServices.Tasks" version="32.961.0" targetFramework="monoandroid70" />
  <package id="Xamarin.Tesseract" version="0.3.2" targetFramework="monoandroid60" />
  <package id="XamarinSwipeActionAdapter" version="1.0.0" targetFramework="monoandroid50" />
  <package id="ZXing.Net.Mobile" version="2.1.47" targetFramework="monoandroid70" />
</packages>