<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Firebase.Xamarin" version="0.3.6" targetFramework="monoandroid60" />
  <package id="modernhttpclient" version="2.4.2" targetFramework="monoandroid50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid60" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="monoandroid60" />
  <package id="Refractored.FloatingActionButton" version="1.4.0" targetFramework="monoandroid60" />
  <package id="Rx-Core" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-Main" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Tesseract" version="0.3.2" targetFramework="monoandroid60" />
  <package id="XamarinSwipeActionAdapter" version="1.0.0" targetFramework="monoandroid50" />
  <package id="ZXing.Net.Mobile" version="2.0.4.46" targetFramework="monoandroid50" />
</packages>